<nav id="main-navigation">
  {% for link in site.data.links %}
  {% if page.title == link.title %}
  <!-- Paradise City was {{ link.title }} -->
  <a href="{{ link.url }}" title="Paradise City" class="current">{{ link.title }}</a>
  <a href="/about/" title="Who I am" class="about">About</a>
  <a href="/blog/" title="History of me" class="Blog">Blog</a>
  <a href="https://drive.google.com/file/d/1Gld_m496hBaanLmqXAP6eUgRerEihyaS/view?usp=sharing" title="Going offsite" class="resume">Resume</a>
  <a href="/travel/" title="How I get around" class="travel">Travel</a>
  <!--Archive-->
  <!--<a href="/feed/" title="Conformity Bias" class="rss">RSS Feed</a>-->

  {% else %}
  <!--this link navs to 404 page-->
  <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
  {% endif %}
  {% endfor %}
</nav>
